body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/chatbot_background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.chatbot-container {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chatbot-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-out;
}

.chatbot-header:hover {
    transform: translateY(-5px);
}
.logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-left: 30px;
    transition: transform 0.3s ease-out;
}

.logo:hover {
    transform: scale(1.1);
}

.chatbot-message-area {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;  /* Adjust based on your preference */
    padding: 10px;
    background-color: #f0f0f0;  /* Light background for the message area */
}
@keyframes slide-in {
    0% { transform: translateY(50px); }
    100% { transform: translateY(0); }
}

.message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}

.bot-message {
    align-self: flex-start;
    background-color: #007bff;  /* Blue background for bot messages */
}

.user-message {
    align-self: flex-end;
    background-color: #4caf50;  /* Green background for user messages */
    border-radius: 20px;
  color: #ff4d4d;
  padding: 10px 20px;
  margin-bottom: 10px;
   /* Align to the left for sent messages */
  max-width: 70%;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.chatbot-input-area {
    display: flex;
    padding: 10px;
}

input[type="text"] {
    flex-grow: 1;
    margin-right: 8px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #45a049;
}
